.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.panel-heading {
  text-align: center;
  padding: 10px;
}

.card-deck {
  padding: 20px;
  flex-direction: row;
}

.add-link {
  text-align: center;
  padding: 30px;
}

.header-section {
  padding: 20px;
  background-color: 'cornsilk';
  text-align: center;
}

.error-msg {
  padding: 20px;
  color: #bc3845;
  text-align: right;
}

.login-form {
  display: flex;
  justify-content: center;
}

.login-button {
  display: flex;
  justify-content: center;
}

.username-section {
 padding: 10px;
}

.password-section {
  padding: 10px;
  margin-left: -26px;
}

.table {
  margin-bottom: 40px;
}

.list-group-item {
	width: 95%;
	margin: 1% !important;
}

@media (min-width: 576px) {
	.list-group-item {
		width: 47%;
		margin: 5px 1.5% !important;
	}
}

@media (min-width: 768px) {
	.list-group-item {
		width: 31.333%;
		margin: 5px 1% !important;
	}
}

@media (min-width: 992px) {
	.list-group-item {
		width: 23%;
		margin: 5px 1% !important;
	}
}

